<div class="body">
    <div class="content">
        <div class="chat">
            <div class="input">
                Introduce tu mensaje <input id="inputText" type="text" alt="tu mensaje aqui">
                <button id="btnSend" class="btnSend"> ENVIAR</button>
            </div>
            <div class="messages">
                <P>Registro de mensajes</P>
                <p id="log"></p>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>