<div>
    <h2>Inicio de sesion</h2>
    <div id="error_handler" style="color:red"></div>
    <div>
        <p> Email</p>
        <input type="text" id="txtEmail">
        <p> Contraseña</p>
        <input type="password" id="txtPassword">
        <button id="btnLogin"> Iniciar Sesion </button>
    </div>
    <div>
        <p>No tienes una Cuenta? <a href="/register">Registrate Aqui</a></p>
    </div>
</div>

<script src="/js/login.js"></script>