<div>
    <div id="error_handler"></div>
    <h2>ingrese sus datos para registrarse en nuestro sitio :D</h2>
    <div>
        <p> Nombre</p>
        <input type="text" id="txtName">
        <p> Apellido</p>
        <input type="text" id="txtLastName">
        <p> Email</p>
        <input type="text" id="txtEmail">
        <p> Edad</p>
        <input type="text" id="txtAge">
        <p> Contraseña</p>
        <input type="password" id="txtPassword">
        <button id="btnRegister"> Registrar </button>
    </div>
    <div>
        <p>Tienes una Cuenta? <a href="/login">Inicia Sesion Aqui</a></p>
    </div>
</div>


<script src="/js/register.js"></script>